.buyListingsId Listing ID: #{tieredResults|||0|||results|||0|||listingId}
img.buyListingsAgencyLogo(src='#{tieredResults|||0|||results|||0|||agency|||logo|||images|||0|||server}#{tieredResults|||0|||results|||0|||agency|||logo|||images|||0|||uri}')
.buyListingsAgencyName #{tieredResults|||0|||results|||0|||agency|||name}
img.buyListingsImage(src='#{tieredResults|||0|||results|||0|||mainImage|||server}/120x160/#{tieredResults|||0|||results|||0|||mainImage|||uri}')
.buyListingsPrice #{tieredResults|||0|||results|||0|||price|||display}
.buyListingsAgent #{tieredResults|||0|||results|||0|||lister|||name}
.buyListingsAddress #{tieredResults|||0|||results|||0|||address|||streetAddress} #{tieredResults|||0|||results|||0|||address|||suburb} #{tieredResults|||0|||results|||0|||address|||postCode} #{tieredResults|||0|||results|||0|||address|||state}
.buyListingsFeatures #{tieredResults|||0|||results|||0|||generalFeatures|||bedrooms|||label}
.buyListingsFeatures #{tieredResults|||0|||results|||0|||generalFeatures|||bathrooms|||label}
.buyListingsFeatures #{tieredResults|||0|||results|||0|||generalFeatures|||parkingSpaces|||label}