.buyListingsId Listing ID: #{listingId}
img.buyListingsAgencyLogo(src='#{agencyLogoServer}#{agencyLogoURI}')
.buyListingsAgencyName #{agencyName}
img.buyListingsImage(src='#{listingImageServer}/120x160/#{listingImageURI}')
.buyListingsPrice #{listingPrice}
.buyListingsAgent #{agentName}
.buyListingsAddress #{listingStreetAddress} #{listingSuburb} #{listingPostCode} #{listingState}
.buyListingsFeatures #{listingBedrooms}
.buyListingsFeatures #{listingBathrooms}
.buyListingsFeatures #{listingParkingSpaces}