.soldListingsId Listing ID: #{tieredResults|||0|||results|||0|||listingId}
img.soldListingsAgencyLogo(src='#{tieredResults|||0|||results|||0|||agency|||logo|||images|||0|||server}#{tieredResults|||0|||results|||0|||agency|||logo|||images|||0|||uri}')
.soldListingsAgencyName #{tieredResults|||0|||results|||0|||agency|||name}
img.soldListingsImage(src='#{tieredResults|||0|||results|||0|||mainImage|||server}/120x160/#{tieredResults|||0|||results|||0|||mainImage|||uri}')
.soldListingsPrice #{tieredResults|||0|||results|||0|||price|||display}
.soldListingsSoldDate Sold #{tieredResults|||0|||results|||0|||dateSold|||display}
.soldListingsAgent #{tieredResults|||0|||results|||0|||lister|||name}
.soldListingsAddress #{tieredResults|||0|||results|||0|||address|||streetAddress} #{tieredResults|||0|||results|||0|||address|||suburb} #{tieredResults|||0|||results|||0|||address|||postCode} #{tieredResults|||0|||results|||0|||address|||state}
.soldListingsFeatures #{tieredResults|||0|||results|||0|||generalFeatures|||bedrooms|||label}
.soldListingsFeatures #{tieredResults|||0|||results|||0|||generalFeatures|||bathrooms|||label}
.soldListingsFeatures #{tieredResults|||0|||results|||0|||generalFeatures|||parkingSpaces|||label}