div.agentsId Agent ID: #{agentId}
img.agentsImage(src='https://i1.au.reastatic.net/120x160/#{agentImageURI}')
div.agentsName #{agentName}
.agentsJobTitle #{agentJobTitle}
div.agentsAgencyName #{agencyName}